<nav class="topnav">
  <div class="brand">&#128260; SFA Push</div>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a routerLink="/products" routerLinkActive="active">Product Master</a>
  <a routerLink="/master/pricelists" routerLinkActive="active">Price Lists</a>
  <a routerLink="/master/businesspartners" routerLinkActive="active">Business Partners</a>
  <a routerLink="/master/schemes" routerLinkActive="active">Schemes</a>
  <a routerLink="/master/stockInventory" routerLinkActive="active">Stock</a>
  <a routerLink="/master/outstanding" routerLinkActive="active">Outstanding</a>
  <a routerLink="/ehr" routerLinkActive="active">E-HR Attendance</a>
</nav>
